<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="info.name">mongo</entry>
<entry key="info.help">Prints this message</entry>

<entry key="info.option.host">Host name or IP address of MongoDB</entry>
<entry key="info.option.port">Port number where MongoDB is listening, defaults to 27017</entry>
<entry key="info.option.db">The Mongo collection where the records are stored</entry>
<entry key="info.option.out">Path to the file (.ttl, .zip, .gz) where the results will be stored</entry>

<entry key="info.option.all">Retrieves all record in the database</entry>
<entry key="info.option.file">Path to a CSV file containing a listing of record ids or uris</entry>
<entry key="info.option.uris">Retrieves records given a comma separated list of ids or identifiers</entry>
<entry key="info.option.search">Retrieves records that match a given query</entry>

<entry key="layout.header">
+-----------------------------------------------------------------------------+
|                              Europeana MongoDB                              |
|                               -= Harvester =-                               |
+-----------------------------------------------------------------------------+
| GitHub:                                                                     |
|                                                                             |
| Version: 1.0                                                                |
+-----------------------------------------------------------------------------+
</entry>
<entry key="layout.response">
+------------------------------- Response ------------------------------------+
</entry>
</properties>